<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="expert_module" translate="label" sortOrder="1000">
            <label>Expert Module</label>
        </tab>
        <section id="fbshare" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Facebook Share</label>
            <tab>expert_module</tab>
            <resource>Expert_FbShare::fbshare</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Facebook Share</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fb_app_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook AppID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="discount_title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Discount Title</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="product_share" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Share</label>
                <depends>
                    <field id="*/general/enabled">1</field>
                </depends>
                <field id="discount_rate" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Discount Rate</label>
                    <validate>required-entry validate-digits</validate>
                </field>
                <field id="discount_msg" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Discount Message</label>
                    <validate>required-entry</validate>
                </field>
                <field id="discount_type" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Discount Type</label>
                    <source_model>Expert\FbShare\Model\Config\DiscountType</source_model>
                </field>
                <field id="discount_uses" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Discount Uses</label>
                    <validate>required-entry validate-digits</validate>
                    <depends>
                        <field id="*/*/discount_type">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
